<header>
    <nav>
        <button (click)="startSlideShow()" aria-label="Start slideshow">Start slideshow</button>
        <button (click)="showForm = !showForm" aria-label="Add slide">Add slide</button>
        <button (click)="showSettings = !showSettings" aria-label="settings">Settings</button>
    </nav>

    <app-popup [(visible)]="showSettings" title="Settings">
        <p>header works!</p>
    </app-popup>

    <app-popup [(visible)]="showForm" title="Add slide">
        <p>header works!</p>
    </app-popup>
</header>
