a,
p {
  display: inline;
  padding: 0 0.5rem;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  text-decoration: underline;
}

a img {
  height: 1.5rem;
}

.end {
  float: inline-end;
}
