<footer>
  <a href="#about" (click)="show($event)" aria-label="about">About</a>
  <p>Dutch Grit {{ today }}</p>
  <a class="end" href="https://www.dutchgrit.nl/nl/home/" target="_blank">
    <img src="dutchgrit-logo-variatie2-500.png" alt="Dutch Grit logo" />
  </a>
</footer>

<app-popup [(visible)]="showPopup" title="About">
  <h2>Slide your Sites</h2>
  <p>Easily create slideshow presentations for all your online content.</p>
  <img src="Slide-your-Sites.png" alt="Slide your Sites" />
  <p>
    Slide your Site turns every screen in your organization into a showroom with awesome projects, successful solutions and webbased presentations. You can even add traffic-, weather- and market related news to the slides.
  </p>
  <p>
    Slide your Sites is a free web-based presentation tool brought to you by Dutch Grit. We facilitate flexibility and growth with webdevelopment, concepting and design. Checkout our approach and customer cases at <a href="https://www.dutchgrit.nl/">www.dutchgrit.nl</a>.
  </p>
  <ol>
    <li>Start creating a slide show by adding webpages. Choose “ADD SLIDE” to start.</li>
    <li>Choose your URL, set time it needs to be shown and select a transition, use the button below to add the slide to your presentation.</li>
    <li>Add as many slides as you wish.</li>
    <li>When you are ready hit “START SLIDESHOW” to open a full screen presentation.</li>
    <li>Under "SETTINGS" you can</li>
    <ol>
      <li>Download your slides to use them later or on a different device.</li>
      <li>Import any set of slides you've earlier downloaded.</li>
      <li>Delete all slides at once.</li>
    </ol>
  </ol>
</app-popup>
