footer a,
footer p {
  display: inline;
  padding: 0;
  margin-right: 5px;
  vertical-align: middle;
  color: #fff;
}

footer p::before {
  content: " |";
  margin-right: 8px;
}

footer a img {
  height: 1.5rem;
}

footer .end {
  float: inline-end;
}