footer a,
footer p {
  display: inline;
  padding: 0 0.5rem;
  vertical-align: middle;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover,
footer a:active {
  text-decoration: underline;
}

footer a img {
  height: 1.5rem;
}

footer .end {
  float: inline-end;
}
