.slide-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.slide-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  cursor: grab;
}

.slide-container,
.slide-container iframe {
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slide-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 500%;
  border: none;
  transform: scale(0.2);
  transform-origin: 0 0;
  pointer-events: none;
}

.slide-time,
.cdk-drag-preview {
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slide-time {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--text);
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
}

.slide-info {
  margin-top: 0.5rem;
}

.cdk-drag-preview {
  border: 1px solid #ccc;
  background-color: transparent #fff;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.edit-button:hover {
  background-color: #f07a4d;
}

input,
select {
  display: block;
  width: 95%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.125rem;
  font-size: 1em;
}

.del-btn {
  float: right;
}

.about {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}
