<div *ngIf="slides.length > 0; else noSlides">
  <h2>Slide List</h2>
  <div class="slide-grid" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="slide-item" *ngFor="let slide of slides; let i = index" cdkDrag>
      <div class="slide-container">
        <iframe [src]="slide.url | safeUrl" width="200" height="150"></iframe>
        <div class="slide-time">{{ slide.slideTime }} seconds</div>
        <button class="edit-button" (click)="editSlide(i)">Edit</button>
      </div>
    </div>
  </div>
</div>
<ng-template #noSlides>
  <p>No slides available. Please add some slides.</p>
</ng-template>
