:root {
  --primary-background: #FFF;
  --secondary-background: #f7f7f7;
  --primary: #ec6533;
  --secondary: #f07a4d;
  --text: #000;
  --link: #007bff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #1c1c1b;
    --secondary-background: #323231;
    --text: #f7f7f7;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--primary-background);
  color: var(--text);
}

body {
  display: flex;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header,
section,
footer {
  padding: 0.5rem 1rem;
}

header,
footer {
  background-color: var(--secondary-background);
}

main {
  flex: 1;
}

a {
  text-decoration: none;
}

h2,
a:hover,
a:active {
  color: var(--primary) !important;
}
